
:root {
  --bg-dark:#282a36;
  --text-light: aliceblue !important
}

@font-face {
  font-family: Pixe;
  src: url("../styles/fonts/PixelAE-Bold.ttf");
}

.title--info {
  font-family: "Pixe", sans-serif !important;
}

body {
  font-family: "Recursive", sans-serif;
}

.nav-masthead .nav-link {
  color: rgba(255, 255, 255, 0.5);
  border-bottom: 0.25rem solid transparent;
  font-size: small;
  letter-spacing: 0.1rem;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.helper {
  animation: bounce 2s infinite;
}

.fontComputacional {
  letter-spacing: 0.1rem;
}

.resume {
  padding-right: 3px;
  max-width: 0;
  white-space: nowrap;
  overflow: hidden;
  animation: pisca normal infinite 8s, escrever normal 8s steps(1111) infinite,
    bounce 8s infinite;
}

@keyframes pisca {
  100% {
    border-right-color: transparent;
  }
}
@keyframes escrever {
  100% {
    max-width: 100%;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(55px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(50px);
  }
}

.offcanvas.offcanvas-start {
  width: 60px !important;
}

.offcanvas-body {
  flex-grow: 1;
  padding: 5px !important;
  overflow-y: none !important;
}

.iconHover:hover {
  cursor: pointer;
}

li:hover {
  background-color: #191a21;
}

.flipp:hover {
  transition: transform 0.8s;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}

.bg--blue {
  /* background-color: #282a36; */
  background-color: var(--bg-dark);
  
}

.list-none {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.secondSideNav {
  width: 280px;
  height: 100vh;
  min-width: 240px;
}

.linkPages {
  font-size: 10px;
  color: #d46d2c;
}

.twitterSrc {
  font-size: xx-small;
}

.navTop {
  height: 20px;
  background-color: #191a21;
}

.font--profile {
  color: var(--text-light);
  word-wrap: break-word;
  font-size: 50px;
}

.resume--tile--font {
  font-size: 1.1rem;
}

.icon--md {
  font-size: 40px;
}

.sub--title--infos {
  font-size: 12px;
}

.cardDetails {
  height: 200px;
  border: none;
  background-color: #292a33;
  color: aliceblue;
  min-height: 200px;
}

.cardActions:hover {
  transform: translateX(10px) scale(1.1);
}

.reboot-a {
  text-decoration: none;
  color: rgb(193, 195, 197);
}

@media (min-width: 400px) {
  .mgn-top {
    margin-top: 25px !important;
  }
}

@media (min-width: 600px) {
  .mgn-top {
    margin-top: 25px !important;
  }
}

.text-justify {
  text-align: justify;
}

.text-bolder {
  font-weight: 600;
}